<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>To Do List</title>
</head>
<body>
    <div class="box">
    <h1 id="heading"><%=listTitle%></h1>
    <ul>
        
        <% newListItems.forEach(function(list){ %>
            <form action="/delete" method="post">
                <li class="item"><input type="checkbox" name="checkbox" value="<%=list._id%>"  onchange="this.form.submit()"><p><%= list.name %></p></li>
                <input type="hidden" name="hiddenlistTitle" value="<%=listTitle%>"></input>
            </form>
       <% }); %>         
    </ul>
    <form action="/" method="post">
        <input type="text" name="item" placeholder="things to do">
        <button type="submit" name="list" value="<%=listTitle%>">+</button>
    </form>
  </div>
</body>
</html>